
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: ghostwhite;
}

th {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 0.4rem;
}

th {
    background-color: azure;
}

th:hover {
    background-color: rgb(195, 248, 248);
}

.selected {
    background-color: #00bbcc;
}

.selected:hover {
    background-color: #00bbcc;
}

td {
    font-weight: bold;
}

td:hover {
    background-color: gainsboro;
}

table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}




#inspect-button {
    background-color: rgb(0, 100, 139);
    border-color: rgb(0, 100, 139);
    float: right;
}
#inspect-button:hover {
    background-color: rgb(14, 122, 165);
}


#matches-container {
    display: grid;
    grid-row-gap: 0.2rem;
    background-color:#dee9f5;

    max-width: 50rem !important;

    padding-top: .4rem;
    padding-bottom: .4rem;

}

#matches-container {
    max-height: 100%;
}

#matches-modal h3 {
    text-align: center;
    margin-bottom: 0;
}

#matches-modal #header-container {
 margin: 0;
}

#matches-modal textarea {
    width: 100%;
    resize: vertical;
    height: 15rem;
    font-size: 0.9em;
}


/* loading.io */
.lds-dual-ring {
    width: 64px;
    height: 64px;
    margin: auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}